body{
    font-style: italic;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
#Nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:end;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items:end;
    gap: 40px;
    padding-right: 15px;
    font-size: 30px;
}
.Red{
    color: white;
    background-color: rgb(179, 15, 15);
    display: flex;
    border: none;
    box-shadow: 0px 4px 6px black;
    border-radius: 5px;
}
.Green{
    color: white;
    background-color: green;
    display: flex;
    box-shadow: 0px 4px 6px black;
    border-radius: 5px;

}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
li{
   list-style: none;
}
.Bold{
    font-weight: bolder;
}
#Nav p{
    font-size: 30px;
}
h2 , h4{
    text-align: center;
}
#List{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
    
}
.student-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 6px black;
    border-radius: 10px;
    width: 72%;
    padding-right: 100px;
    padding-left: 100px;
    
}
.Button{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.Green:hover{
    background-color: darkgreen;
}
.Red:hover{
    background-color: rgb(112, 8, 8);
}
.present{
    color: rgba(33, 207, 33, 0.685);
}
.absent{
    color: red;
}
@media(max-width: 720px){
    .hide-mobile{
        display: none;
    }
}